body{
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#special-overlay{
    background-color: lightgray;
    position: relative;
    height: 60px;
    width: 330px;
    top:-60px;
    z-index: 2;
}
/* #trans-box::after{
    content: "";
    clear: both;
    display: none;
} */

  #welcome-section{
      margin: auto;
      text-align: left;
      padding-top:10%;
    padding-left:10%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1492055995629-7253a5b5afaa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d7a5e43e9ab5c73b094803e3359b7c7&auto=format&fit=crop&w=1488&q=80"); */
    background-image: url("https://images.unsplash.com/photo-1525098025442-91f6717b55bf?ixlib=rb-0.3.5&s=47da18269e20a9d42cdec8b6517ef0dc&auto=format&fit=crop&w=967&q=80");
    background-repeat: no-repeat;
    background-size: 100%;  
    /* filter:grayscale(); */
    

  }

  .social-btn  {
      margin: 0px 4px 8px 4px;
      padding :8px;
      border-radius: 100px;
      background-color: #333;
      transition: background-color 150ms ease;
      width:50px;
      height: 50px;;
      
    }

#navbarSupportedContent{
    /* background-color: rgb(254, 217, 242); */
}

#about-btn ,#projects-btn , #contact-btn ,#profile-link{
      color:purple;
   padding-left:0px;
   padding-right:20px;
   font-size:1.5em;;
  }

  #about-btn:hover,#projects-btn:hover,#contact-btn:hover,#profile-link:hover{
    color:pink;
}


  #my-name{
      color:white;
      font-size: 48px;
      font-weight: 100;
      margin-left: 0px;
      padding:0px;
  }
  #my-job1{
    color:white;
    font-size: 60px;
    font-weight: 700;
    margin: 0px;
    padding:0px;
    line-height: 0.7em;
    position: relative;
    z-index: 9;
  }

  #my-job2{
      font-weight: 200;
      font-size: 30px;
      position: relative;
      z-index: 10;
      padding-left: 10px;
  }
#trans-box{
    opacity: 0.4;
    position: relative;
    width:60%;
    height: 20px;;
    background-color: white;
    border-radius: 2px;    
}

  #middle-panel{
    
      position: relative;
      width:60%;
      /*   background-color: white;
       width: 80%; */
      /* margin: auto; */
      color: black;
      background-color: rgba(255, 255, 255, 0.747);   
      border-radius: 2px;    
  }
  #about-me{
    margin-top: 30px;
    display: inline-block;
    font-size: 1.2em;
    line-height: 0.5em;
    font-weight: 400;
    padding: 10px;
  
}

  #my-image{
      border-radius: 200px;
      width: 180px;
      padding:20px;
      margin-right: 10px;
      display: inline;
      vertical-align: top;
  }

  .img-credit{
      position: absolute;
      /* bottom: 20px; */
      right: 0px;
  }

  

  .container{
      background-color: rgb(255, 255, 255);
      padding-bottom:50px;
  }
  #projects-header{
      padding-bottom:20px;
      padding-left: 10%;
  }

  #contacts {
    padding-bottom:20px;
    padding-left: 90%;
}

  .rotated-text{
    transform: rotate(-90deg);
    /* transform-origin: left bottom 0; */
    transform-origin: 20% 40%;
    display: inline-block;
    background-color: rgba(218, 19, 210, 0.78);
    padding: 20px;
    cursor: vertical-text;
    text-transform:uppercase;
    
    /* box-shadow: -5px 3px 3px 0px rgb(177, 173, 176); */
    
  }

  #projects{
      margin: auto;
  }


  footer{
      background-color: rgb(62, 21, 52);
      height: 270px;
      color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 70px;
  }
  
  footer p{
      display: inline-block;
      padding: 5px 20px 3px 20px;
      /* font-family:  The-Noun-Project-UI,sans-serif; */
  }

  #connect-me{
      display: inline-block;
  }
  #connect-me a{
      color: white;
      font-size: 30px;
      vertical-align: -20%;
  }
  .circle{
    display:inline-block;
    position:relative;
    background-color:pink;
    border-radius:500px;
    height:100px;
    width:100px;
    margin:auto;
    opacity:0.75;
    top:-10px;
    border: 1px solid rgb(189, 187, 187);
    background-color:pink;
    
  }
  
  #connect-me > .circle:nth-of-type(1) {        
    left:40px;
  }
  #connect-me > .circle:nth-of-type(2) {      
    background-color:lightgray;
    left:20px;
  }

  .card{
    box-shadow: 5px 10px 18px #888888;
  }

#test{
    position: absolute;
    clip: rect(280px, 180px, 420px, 10px);
/* width:1000px; */
}

@media only screen and (max-width: 600px) {
    
#about-me{
    line-height: 1em;
}
#welcome-section{
    padding:0;
}

}
@media only screen and (max-width: 367px) {
    /*    #contact{
      min-height:1100px;
    } */
    #connect-me {
      border: 2px solid #90C695;
      border-radius: 0;
      width: 90px;
      height: 20px;
      padding: 10px;
      line-height: normal;
    }
  }


